:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-enlace-color: #757575;
  --primary-background-color: #2f303a;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --container-color: #eeeeee;
  --fill-icon: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  width: 100% !important;
  overflow-x: hidden !important;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

/*@media (max-width: 768px) {
  .section {
    text-align: center;
  }
}*/
.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 27px;
  }
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.hero__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:focus, .hero__button:hover {
  background-color: var(--brand-color);
}

.portfolio__button--properties {
  font-family: inherit;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  padding: 6px 18px 6px 18px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button--properties:hover, .portfolio__button--properties:focus {
  color: var(--primary-white-color);
  background: var(--brand-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
}

.footer__form {
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__subscribe {
  margin-left: auto;
  height: 86px;
}
.footer__subscribe--title {
  font-size: 14px;
  line-height: 1.2;
  text-align: Left;
  color: var(--primary-white-color);
  text-transform: uppercase;
  width: 275px;
}
.footer__subscribe--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__subscribe--placeholder {
  font-size: 16px;
  line-height: 20px;
  line-height: 107%;
  text-align: Left;
}
.footer__subscribe--button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: var(--brand-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  color: var(--primary-white-color);
}
.footer__subscribe--email {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: var(--primary-white-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
}

.footer__button--text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.footer__button--text--icon {
  position: absolute;
  fill: var(--primary-white-color);
  right: 12px;
}

.icon {
  z-index: 2;
  fill: var(--fill-icon);
}
.icon:focus, .icon:hover {
  fill: var(--brand-color);
  outline: none;
}

.modal__icon {
  position: absolute;
  top: 25px;
  left: 15px;
}

.feature__section--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.icon__team--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  padding-left: 0;
  gap: 10px;
  border-radius: 50%;
}
.icon__team--section--web {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.icon__team {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__team:hover, .icon__team:focus {
  background-color: var(--brand-color);
  fill: var(--primary-white-color);
  border-radius: 50%;
  outline: none;
}

.customer__section--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding-left: 0;
}
.customer__section--icon--link {
  padding-top: 0;
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  width: 170px;
}

.customer__icon {
  border: 1px solid var(--fill-icon);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 81px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__icon:hover, .customer__icon:focus {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
}

.footer__icon {
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.footer__icon:hover, .footer__icon:focus {
  background-color: var(--brand-color);
  outline: none;
}

.footer__container--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
}
.footer__container--icon--link {
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
}

.footer__button--icon {
  position: absolute;
  fill: var(--primary-white-color);
  right: 12px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo__footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 9px;
  display: block;
}

span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding-top: 24px;
  padding-bottom: 24px;
}
span__footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 9px;
  display: block;
}

.span__logo--footer {
  color: var(--primary-white-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__container {
  padding-top: 40px;
}

.modal__container--information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.modal__container--information--title {
  font-size: 20px;
  line-height: 1.1;
  text-align: Center;
  width: 448px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal__title {
  margin-bottom: 12px;
}

.modal__container--subscribe {
  width: 448px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.modal__button--subscribe {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: var(--brand-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  color: var(--primary-white-color);
}

.modal__button--exit {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--fill-icon);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button--exit:focus, .modal__button--exit:hover {
  fill: var(--brand-color);
}

.modal__label {
  font-size: 12px;
  line-height: 1.2;
  text-align: Left;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--primary-enlace-color);
  margin-bottom: 10px;
  fill: var(--primary-enlace-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 25px;
  left: 15px;
}

.modal__label:last-child {
  margin-bottom: 0;
}

.modal__label:focus-within {
  fill: var(--brand-color);
}

.modal__form_comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border-color: var(--primary-text-color);
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  margin-left: 0;
}
.modal__form_comment:focus-within {
  border-color: var(--brand-color);
  outline: 0 none;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

textarea {
  resize: none;
}

.modal__container--terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.check-input {
  display: none;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  fill: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 22px;
}

.checkbox svg {
  width: 16px;
  height: 16px;
}

.check-input:checked + .checkbox {
  background: var(--brand-color);
  border: 2px solid var(--brand-color);
}

.checkbox::before {
  content: "";
  background: var(--brand-color);
  position: absolute;
  border-radius: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: block;
  z-index: -1;
}

.modal__terms {
  font-family: "Roboto";
  color: var(--primary-enlace-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  width: 360px;
  text-align: left;
  padding: 0;
}

.modal__terms--conditions {
  font-family: "Roboto";
  color: var(--brand-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

u {
  color: var(--brand-color);
}

.modal__form--input {
  padding: 8px;
  border: 1px solid #2a2a2a;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  width: 448px;
  height: 40px;
  text-indent: 50px;
  gap: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.modal__form--input:not(:-moz-placeholder-shown):required:valid {
  border-color: green;
}

.modal__form--input:not(:-ms-input-placeholder):required:valid {
  border-color: green;
}

.modal__form--input:not(:placeholder-shown):required:valid {
  border-color: green;
}

.modal__form--input:not(:-moz-placeholder-shown):required:invalid {
  border-color: red;
}

.modal__form--input:not(:-ms-input-placeholder):required:invalid {
  border-color: red;
}

.modal__form--input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.modal__form--input:focus-within {
  border-color: var(--brand-color);
}

.input-text-coment:focus-within {
  border-color: var(--brand-color);
}

.modal__form--input::-webkit-input-placeholder {
  color: var(--primary-white-color);
}

.modal__form--input::-moz-placeholder {
  color: var(--primary-white-color);
}

.modal__form--input:-ms-input-placeholder {
  color: var(--primary-white-color);
}

.modal__form--input::-ms-input-placeholder {
  color: var(--primary-white-color);
}

.modal__form--input::placeholder {
  color: var(--primary-white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
  .modal__container--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal__title {
    width: 370px;
  }
  .modal__container--subscribe {
    width: 370px;
  }
  .modal__form--input {
    width: 370px;
  }
  .modal__form_comment {
    width: 370px;
  }
  .modal__container--terms {
    width: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    margin-left: 40px;
  }
  .modal__terms {
    padding: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
  .modal__container--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal__title {
    width: 370px;
  }
  .modal__container--subscribe {
    width: 370px;
  }
  .modal__form--input {
    width: 370px;
  }
  .modal__form_comment {
    width: 370px;
  }
  .modal__container--terms {
    width: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    margin-left: 40px;
  }
  .modal__terms {
    padding: 0;
  }
}
.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}

.modal__container--title {
  font-size: 20px;
  line-height: 1.1;
  text-align: Center;
  width: 448px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal__title {
  margin-bottom: 12px;
}

.feature__section--title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.work__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 55px;
}

.team__section--title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.customer__section--title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 44px;
}

.footer__social--title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer__subscribe--title {
  font-size: 14px;
  line-height: 1.2;
  line-height: 100%;
  text-align: Left;
  color: var(--primary-white-color);
  text-transform: uppercase;
  width: 275px;
}

.portfolio__poster--title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  text-transform: capitalize;
  margin-bottom: 4px;
}

.container__image--work1 {
  position: relative;
  display: inline-block;
}

.container__image--work2 {
  position: relative;
  display: inline-block;
}

.container__image--work3 {
  position: relative;
  display: inline-block;
}

.work__container {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--primary-white-color);
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-bottom: 27px;
  padding-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}
.work__container--text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.work__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 55px;
}

.work__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.work__photos--images {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

@media (max-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .container__image--work1 {
    display: none;
  }
  .container__image--work2 {
    display: none;
  }
  .container__image--work3 {
    display: none;
  }
  .work__container {
    display: none;
  }
  .work__title {
    display: none;
  }
  .work__photos {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .container__image--work1 {
    display: none;
  }
  .container__image--work2 {
    display: none;
  }
  .container__image--work3 {
    display: none;
  }
  .work__container {
    display: none;
  }
  .work__title {
    display: none;
  }
  .work__photos {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .container__image--work1 {
    display: none;
  }
  .container__image--work2 {
    display: none;
  }
  .container__image--work3 {
    display: none;
  }
  .work__container {
    display: none;
  }
  .work__title {
    display: none;
  }
  .work__photos {
    display: none;
  }
}
.feature__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-bottom: 0;
  padding-top: 0;
}
.feature__section--box {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.feature__section--title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
.feature__section--text {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondary-text-color);
  margin-bottom: 0px;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .feature__section--icon {
    width: 100%;
  }
  .feature__section {
    max-width: 100%;
  }
  .feature__section--box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .feature__section--title {
    text-align: center;
  }
  .feature__section--text {
    text-align: center;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .feature__section--icon {
    width: 100%;
  }
  .feature__section {
    width: 100%;
  }
  .feature__section--box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .feature__section--title {
    text-align: left;
  }
  .feature__section--text {
    text-align: start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__section--icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.customer__section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.customer__section--title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 44px;
}
.customer__section--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding-left: 0;
}
.customer__section--icon--link {
  padding-top: 0;
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  width: 170px;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .customer__section--icon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .customer__section--icon--link {
    width: 100%;
  }
  .customer__icon {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .customer__section--icon--link {
    width: 210px;
  }
  .customer__icon {
    width: 210px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .customer__section--icon--link {
    width: 226px;
  }
  .customer__icon {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.footer__section {
  background: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__site {
  margin-bottom: 7px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-white-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 231px;
}
.contacts__site:hover, .contacts__site:focus {
  color: var(--brand-color);
  outline: none;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.logo__footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 9px;
  display: block;
}

.list__contact--footer {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
}

.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  list-style: none;
}
.contacts:hover, .contacts:focus {
  color: var(--brand-color);
}

.contact--footer {
  margin-bottom: 2px;
}
.contact--footer:last-child {
  margin-bottom: 0;
}

.footer__container--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
}
.footer__container--icon--icon--link {
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
}

.footer__social--title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer__form {
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__subscribe {
  margin-left: auto;
  height: 86px;
}
.footer__subscribe--title {
  font-size: 14px;
  line-height: 1.2;
  line-height: 100%;
  text-align: Left;
  color: var(--primary-white-color);
  text-transform: uppercase;
  width: 275px;
}
.footer__subscribe--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__subscribe--placeholder {
  font-size: 16px;
  line-height: 20px;
  line-height: 107%;
  text-align: Left;
}
.footer__subscribe--button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: var(--brand-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  color: var(--primary-white-color);
}

.subscribe__email {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: var(--primary-white-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
}

.footer__button--text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.footer__button--text--icon {
  position: absolute;
  fill: var(--primary-white-color);
  right: 12px;
}

.container_footer--tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
}

@media screen and (max-width: 767px) {
  .container__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    overflow: hidden;
    margin-top: 0;
    gap: 0;
  }
  .container_footer--tablet {
    display: block;
  }
  .contacts__site {
    width: 100%;
  }
  .footer__section {
    width: 480px;
    height: 604px;
  }
  .logo__footer {
    margin-bottom: 28px;
  }
  .contacts__site {
    margin-bottom: 12px;
  }
  .contact--footer {
    margin-bottom: 12px;
    width: 100%;
  }
  .contact--footer:last-child {
    margin-bottom: 0;
  }
  .container__contacts--footer {
    margin-bottom: 60px;
  }
  .container__social--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__container--icon {
    width: 206px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__container--icon--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 206px;
  }
  .footer__form {
    gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__subscribe {
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 80px;
    width: 100%;
  }
  .footer__subscribe--title {
    text-align: center;
  }
  .footer__subscribe--button {
    margin-bottom: 0px;
  }
  .footer__subscribe--email {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .footer__section {
    width: auto;
    height: auto;
  }
  .contacts__site {
    width: auto;
  }
  .footer__subscribe {
    height: auto;
  }
  .footer__subscribe--title {
    width: auto;
  }
  .footer__subscribe--email {
    width: auto;
  }
  .footer__subscribe--buttom {
    width: auto;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer__section {
    width: 768px;
    height: 464px;
    padding-top: 0px;
    overflow: hidden;
    padding-bottom: 0;
  }
  .container_footer--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    padding-top: 60px;
    margin-bottom: 60px;
  }
  .container__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 0;
  }
  .footer__section {
    width: auto;
  }
  .logo__footer {
    margin-bottom: 28px;
  }
  .contacts__site {
    margin-bottom: 12px;
  }
  .contact--footer {
    margin-bottom: 12px;
  }
  .contact--footer:last-child {
    margin-bottom: 0;
  }
  .footer__container--icon {
    cursor: pointer;
    width: 206px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    gap: 10px;
    margin-bottom: 60px;
  }
  .footer__container--icon--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__form {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__subscribe--container {
    width: 768px;
    display: block;
  }
  .footer__subscribe--title {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .footer__subscribe--button {
    margin-top: 20px;
  }
  .footer__subscribe--email {
    width: 450px;
  }
  .container {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__border {
  border-bottom: 1px solid #eeeeee;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link--pages {
  cursor: pointer;
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-decoration: none;
  list-style: none;
  height: 50px;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--pages:focus, .header__link--pages:hover {
  color: var(--brand-color);
  outline: none;
}

.current {
  color: var(--brand-color);
  text-decoration: none;
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  position: absolute;
  bottom: -2px;
  border-radius: 2px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__list--contact {
  list-style: none;
  margin-left: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  gap: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__list--item {
  margin-right: 50px;
  color: var(--secondary-text-color);
}
.header__list--item:last-child {
  margin-right: 0;
}

.list-link:last-child {
  margin: 0;
}

.header__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-enlace-color);
  text-decoration: none;
  list-style: none;
}
.link:hover, .link:focus {
  color: var(--brand-color);
  outline: none;
}

.link.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-enlace-color);
  text-decoration: none;
  list-style: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.contacts:hover, .link.contacts:focus {
  color: var(--brand-color);
  outline: none;
}

@media (max-width: 767px) {
  .header__pages {
    display: none;
  }
  .header__list--contact {
    display: none;
  }
  .menu {
    display: none;
  }
}
.menu .link__mobile:hover,
.menu .link__mobile:focus {
  text-decoration: underline;
  color: var(--brand-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.icon__menu--mobile:hover, .icon__menu--mobile:focus {
  fill: var(--brand-color);
}

.container__mobile:hover, .container__mobile:focus {
  color: var(--brand-color);
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--brand-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: white;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--primary-text-color);
}
.menu-container .menu-toggle:hover, .menu-container .menu-toggle:focus {
  color: var(--brand-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile__pages {
  margin-bottom: 200px;
}

.mobile__list--contact {
  list-style: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  padding-left: 0;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__list--item {
  margin-bottom: 32px;
  color: var(--secondary-text-color);
}
.mobile__list--item:last-child {
  margin-bottom: 0;
}

.link__mobile {
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.link__mobile:hover,
.link__mobile:focus {
  color: var(--brand-color);
  outline: none;
}

.mobile__list--contact--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.mobile__list--contact--tel:hover, .mobile__list--contact--tel:focus {
  color: var(--brand-color);
}

.mobile__list--contact--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.mobile__list--contact--email:hover, .mobile__list--contact--email:focus {
  color: var(--brand-color);
}

.mobile__web--menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.link__mobile--web {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  list-style: none;
  text-decoration: none;
}

.mobile__web_line {
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 27px;
  }
  .menu__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .container {
    width: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list--contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
    margin-left: 86px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__list--tablet {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header__list--contact {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.hero__section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Imagen_hero@pc.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imagen_hero@pc.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

.hero__content {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 auto 30px;
  max-width: 360px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Imagen_hero@tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imagen_hero@tablet.jpg);
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 767px;
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Imagen_hero@mobile.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imagen_hero@mobile.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
  }
  .hero__title {
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1199px;
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/Imagen_hero@tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Imagen_hero@tablet.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
  }
  .hero__title {
    text-align: center;
  }
}
.portfolio__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__button--item {
  margin-right: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button--item:last-child {
  margin-right: 0;
}

.portfolio__container--poster {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.portfolio__poster {
  color: var(--primary-white-color);
  border: 1px solid var(--container-color);
  width: 370px;
  margin-bottom: 0;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  cursor: pointer;
  padding-bottom: 0;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__poster:hover, .portfolio__poster:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__poster--feature {
  padding-bottom: 20px;
  margin-top: 0;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  width: 370px;
}
.portfolio__poster--title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  text-transform: capitalize;
  margin-bottom: 4px;
}
.portfolio__poster--group {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-transform: capitalize;
  margin-bottom: 0px;
}
.portfolio__poster--mask {
  position: relative;
  overflow: hidden;
}

.portfolio__mask--text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  overflow: hidden;
  opacity: 0;
  text-align: left;
  margin-bottom: 0;
  padding: 63px 24px 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__poster--link {
  width: 370px;
  outline: none;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__poster--link:hover .portfolio__mask--text, .portfolio__poster--link:focus .portfolio__mask--text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

@media (max-width: 480px) {
  .portfolio__container--poster {
    width: 450px;
  }
  .portfolio__poster {
    width: 450px;
  }
  .portfolio__poster--link {
    width: 450px;
  }
  .portfolio__poster--image {
    width: 450px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .portfolio__container--poster {
    width: 768px;
    margin-bottom: 60px;
  }
  .portfolio__poster {
    width: 354px;
  }
  .portfolio__poster--link {
    width: 354px;
  }
  .portfolio__poster--image {
    width: 354px;
  }
}
.team__section {
  background-color: var(--secondary-background-color);
}
.team__section--title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}
.team__section--actors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.team__celebrity {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 0;
  padding-top: 0;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.team.images {
  padding-top: 0;
  padding-bottom: 0;
}

.feature__actor {
  padding-top: 30px;
}
.feature__actor--name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  padding-bottom: 0;
}
.feature__actor--profession {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-enlace-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.icon__team--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  padding-left: 0;
  gap: 10px;
  border-radius: 50%;
}
.icon__team--section--web {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.team__image {
  width: 270px;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .team__image {
    width: 100%;
  }
  .team__section--actors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icon__team--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .team__section--actors {
    padding-bottom: 60px;
  }
  .team__celebrity {
    width: 450px;
  }
  .team.images {
    padding-top: 0;
    padding-bottom: 0;
  }
  .feature__actor {
    padding-top: 30px;
  }
  .team__image {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__section--actors {
    padding-bottom: 60px;
  }
  .team__celebrity {
    width: 354px;
  }
  .team.images {
    padding-top: 0;
    padding-bottom: 0;
  }
  .feature__actor {
    padding-top: 30px;
  }
  .team__image {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}/*# sourceMappingURL=main.css.map */