.container__image--work1 {
  position: relative;
  display: inline-block;
}
.container__image--work2 {
  position: relative;
  display: inline-block;
}
.container__image--work3 {
  position: relative;
  display: inline-block;
}
.work__container {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--primary-white-color);
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-bottom: 27px;
  padding-top: 27px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  &--text {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
}

.work__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 55px;
}
.work__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 0;
  padding-bottom: 0;

  &--images {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media (max-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .container__image--work1 {
    display: none;
  }
  .container__image--work2 {
    display: none;
  }
  .container__image--work3 {
    display: none;
  }
  .work__container {
    display: none;
  }

  .work__title {
    display: none;
  }
  .work__photos {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .container__image--work1 {
    display: none;
  }
  .container__image--work2 {
    display: none;
  }
  .container__image--work3 {
    display: none;
  }
  .work__container {
    display: none;
  }

  .work__title {
    display: none;
  }
  .work__photos {
    display: none;
  }
}
