.feature__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 0;
  padding-top: 0;

  &--box {
    flex-basis: calc((100% - 90px) / 4);
  }

  &--title {
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    letter-spacing: 0.03em;
  }

  &--text {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-text-color);
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 0px) and (max-width: 479px) {
  .feature__section--icon {
    width: 100%;
  }
  .feature__section {
    max-width: 100%;

    &--box {
      flex-basis: calc(100%);
    }
    &--title {
      text-align: center;
    }
    &--text {
      text-align: center;
    }
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .feature__section--icon {
    width: 100%;
  }
  .feature__section {
    width: 100%;

    &--box {
      flex-basis: calc(100%);
    }
    &--title {
      text-align: left;
    }
    &--text {
      text-align: start;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__section--icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
