.customer__section {
  padding-top: 60px;
  padding-bottom: 60px;

  &--title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 44px;
  }

  &--icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 0;
  }

  &--icon--link {
    padding-top: 0;
    flex-basis: calc((100% - 150px) / 6);
    width: 170px;
  }
}
@media screen and (min-width: 0px) and (max-width: 479px) {
  .customer__section--icon {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .customer__section--icon--link {
    width: 100%;
  }
  .customer__icon {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .customer__section--icon--link {
    width: 210px;
  }
  .customer__icon {
    width: 210px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .customer__section--icon--link {
    width: 226px;
  }
  .customer__icon {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
