.footer__section {
  background: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.contacts__site {
  margin-bottom: 7px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--brand-color);
    outline: none;
  }
}
.container__footer {
  display: flex;
  gap: 20px;
}
.logo__footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 9px;
  display: block;
}
.list__contact--footer {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
}
.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  list-style: none;

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.contact--footer {
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }
}
.footer__container--icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;

  &--icon--link {
    flex-basis: calc((100% - 30px) / 4);
  }
}

.footer__social--title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer__form {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer__subscribe {
  margin-left: auto;
  height: 86px;

  &--title {
    font-size: 14px;
    line-height: 1.2;
    line-height: 100%;
    text-align: Left;
    color: var(--primary-white-color);
    text-transform: uppercase;
    width: 275px;
  }

  &--container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--placeholder {
    font-size: 16px;
    line-height: 20px;
    line-height: 107%;
    text-align: Left;
  }

  &--button {
    position: relative;
    width: 200px;
    height: 50px;
    padding: 0;
    border: 0;
    background-color: var(--brand-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    color: var(--primary-white-color);
  }
}
.subscribe__email {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: var(--primary-white-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
}

.footer__button--text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  &--icon {
    position: absolute;
    fill: var(--primary-white-color);
    right: 12px;
  }
}
