html,
body {
  width: 100% !important;
  overflow-x: hidden !important;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  color: var(--secondary-text-color);
}
.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
