.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .container {
    width: 480px;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 768px;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
  }
}
