.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 27px;
  }
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
