.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
  padding-top: 24px;
  padding-bottom: 24px;

  &__footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--brand-color);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 9px;
    display: block;
  }
}
