:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-enlace-color: #757575;
  --primary-background-color: #2f303a;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --container-color: #eeeeee;
  --fill-icon: #afb1b8;
}
